*{margin: 0; padding: 0;}
 @font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf');
    font-weight: 600 800;
  }

body{background-color: hsl(47, 88%, 63%); 
    font-family: 'Figtree'; display: flex; }

.container{
    max-width: 400px;
        position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blog-card{
    padding: 1em;
    border: 1.5px solid #000000;
    width: 340px;
   box-shadow: 9px 10px 0px 4px rgba(0,0,0,1);
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
}

.blog-card .blog-image img{
    max-inline-size: 100%;
    object-fit: cover;
    width: 100%;
    max-width: 400px;
    border-radius: 7px;
    height: auto;
}

.blog-card .blog-tag{
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    font-size: 16px;
    padding: 0.3em 0.8em;
    border-radius: 5px;
    margin-block: 1em;
    font-weight: 800;
    width: fit-content;
}

.blog-card .blog-date{
    color: hsl(0, 0%, 50%);
    font-weight: 800;
}

.blog-card .blog-title{
    color: hsl(0, 0%, 7%);
    font-weight: 800;
    font-size: 1.3em;
    margin-block: 1em 1.3em;
}

.blog-card .blog-title:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.blog-card .blog-short-content{
    font-size: 1em;
    color: hsl(0, 0%, 50%);
    font-weight: 600;
    line-height: 135%;
}

.blog-card .blog-author{
    margin-block-start: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.blog-card .blog-author .blog-author-img{
    border-radius: 25px;
}

.blog-card .blog-author .author-name{
    color: hsl(0, 0%, 7%);
    font-weight: 800;
}

.attribution{
    margin-block-start: 3em;
}

@media screen and (max-width: 768px){
    .blog-card{width: 300px;}
}